/*Override browsers default styles */
* {
    padding: 5px;
    margin: 5px;
    box-sizing: border-box;
}

/*General body style*/
body {
    font-size:medium;
    min-height: 100vh;
    display:flex;
    flex-flow:column;
    align-items:center;
    text-align:center;
    background-color:#abffe9;
}

h1,h2 {
    font-size: larger;
}

footer {
    font-size: 9px;
}

img {
    height: 200px;
    width: 300px
}

@media only screen and (min-width: 1000px) {
    body {
        font-size: 25px;
    }

    footer {
        font-size: 15px
    }
}