/*Override browsers default styles */
* {
    padding: 5px;
    margin: 5px;
    box-sizing: border-box;
}

/*General body style*/
body {
    font-size:medium;
    min-height: 100vh;
    display:flex;
    flex-flow:column;
    align-items:center;
    text-align:center;
    background-color:#abffe9;
}

